```scss
    ---
    ---

    @import "{{ site.theme }}";
{
  background-image: url("https://file.garden/aPpGOu8r4WIJS6jI/GitHub%20Files/star.gif");

  /* Full height */
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    ```
